.map-type-dropdown {
  position: relative;
  display: inline-block;
  z-index: 2000;
}

.map-type-button {
  background-color:#1f1f1f;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

.map-type-button:hover {
  background-color: #3a3a3a;
}

.map-type-options {
  display: none;
  position: absolute;
  background-color:none;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  flex-direction: column;
  backdrop-filter: blur(8px);
}

.map-type-dropdown:hover .map-type-options,
.map-type-options:hover {
  display: flex;
}

.map-type-options button {
  padding: 0.6rem 1rem;
  text-align: left;
  background: #202020;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 4001;
  font-size: 0.9rem;
    border-radius: 8px;

}

.map-type-options button:hover {
  background-color: #333;
  border-radius: 8px;
}

.map-type-options hr {
  margin: 0;
  border: none;
  border-top: 1px solid #444;
}
