.navbar {
  background-color: rgba(31, 31, 31, 0.8); /* dark + semi-transparent */
  backdrop-filter: blur(12px);            /* blurred glass effect */
  padding: 0.75rem 1.5rem;
  position: fixed; /* or sticky, but fixed is more bulletproof */
  top: 0;
  width: 100%;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  z-index: 5000;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  background:none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.logout:hover {
  background-color: #c0392b;
}

.left-nav a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}

.left-nav a:hover {
  background-color: #2c2c2c;
}
.right-nav {
  padding-right: 3rem;
}

.right-nav img {
  height: 40px;
  object-fit: contain;
}
